<div class="min-h-screen bg-slate-100 flex flex-col">
  <header class="bg-white shadow-sm">
    <div class="max-w-6xl mx-auto px-4 py-3 flex items-center justify-between">
      <a routerLink="/events" class="text-xl font-bold text-indigo-600">
        Event Planner
      </a>

      <nav class="flex items-center gap-4 text-sm text-slate-700">
        <!-- Always visible if authenticated -->
        <a
          *ngIf="isAuthenticated | async"
          routerLink="/events"
          routerLinkActive="font-semibold text-indigo-600"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Events
        </a>

        <a
          *ngIf="isAuthenticated | async"
          routerLink="/events/my-registrations"
          routerLinkActive="font-semibold text-indigo-600"
        >
          My Registrations
        </a>

        <!-- Admin-only -->
        <a
          *ngIf="(isAuthenticated | async) && (userRole | async) === 'ADMIN'"
          routerLink="/events/new"
          routerLinkActive="font-semibold text-indigo-600"
        >
          Create Event
        </a>

        <!-- Email utilisateur connecté -->
        <span
          *ngIf="isAuthenticated | async"
          class="text-xs text-slate-500 border border-slate-200 rounded-lg px-2 py-1"
        >
    {{ userEmail | async }}
  </span>

        <!-- Auth links -->
        <a
          *ngIf="!(isAuthenticated | async)"
          routerLink="/auth/login"
          routerLinkActive="font-semibold text-indigo-600"
        >
          Login
        </a>

        <button
          *ngIf="isAuthenticated | async"
          class="text-sm bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded-lg"
          (click)="onLogout()"
        >
          Logout
        </button>
      </nav>
    </div>
  </header>

  <main class="flex-1">
    <router-outlet></router-outlet>
  </main>

  <footer class="bg-slate-900 text-slate-400 text-xs py-4 text-center">
    Event Planner • Angular • Tailwind • JSON Server
  </footer>
</div>
